<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.binding.demo"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="Android Binding Demo" android:debuggable="true">
        <activity android:name=".Demo1"
                  android:label="Android Binding Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="Demo1Code"></activity>
<activity android:name="Explain"></activity>
</application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 